html{scroll-behavior: smooth;}
.navbar{border-bottom:3px solid #008ed6;background: #292b2c;opacity:0.7}
body{background:black;color:#fff}
#icon{border-radius: 5px;}
#home-section{background:url("bac3.jpg");background-size:cover;background-position:center;background-repeat:none;
;background-attachment: fixed;
   min-height:700px;
}


.dark-overlay{background:rgba(0,0,0,0.5);min-height:700px}

.fa{background:#fff;padding:4px}


.card-form{opacity:.5px}

.home-inner{padding-top:150px;padding-bottom:150px;}

.explore-section-btn{text-align: center;}


.explore-section-heading{
text-transform: capitalize;
}

.flexBox i{border-radius:3px}

.creat-section-btn{text-align: center;}

.share-section-btn{text-align: center;}

.modal-content{background:black}

.form-group input{border:1px solid black}


.form-group.success input{border:1px solid green}


.form-group.success textarea{border:1px solid green}


.form-group.error textarea{border:1px solid red
}

.form-group.error input{border:1px solid red}

.form-group small{opacity:0}

.form-group.error small{opacity:1;color:red}

.form-group{position:relative}

.form-group i{position:absolute;top:40px;right:10px;visibility:hidden;opacity:0}

.form-group.success .fa-check-circle{visibility:visible;opacity:1;color:green}

.form-group.error .fa-exclamation-circle{visibility:visible;opacity:1;color:red}


@media(max-width:767px){
#explore-main-section h2{
  font-size: 28px;
  padding-top: 5px;
}}

@media(max-width:767px){
#create-main-section h2{
  font-size: 28px;
  padding-top: 5px;
}}

@media(max-width:767px){
#share-main-section h2{
  font-size: 28px;
  padding-top: 5px;
}}
